.signupcontainer{
    border-style: solid;
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border-color: white;
    gap: 6px;
}


.firstnamecontainer{
    color: white;
    margin-right: 144px;
}


.lastnamecontainer{
    color: white;
    margin-right: 144px;
}



.passwordcontainer{
    color: white;
    margin-right: 226px;
}

.confirmpasswordcontainer{
    color: white;
    margin-right: 171px;
}