.signupcontainer{
    border-style: solid;
    width: 325px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    gap: 6px;
}


.namecontainer{
    color: white;
    margin-right: 170px;
    margin-top: 13px;
}


.emailcontainer{
    color: white;
    margin-right: 122px;
}



.passwordcontainer{
    color: white;
    margin-right: 226px;
}

.confirmpasswordcontainer{
    color: white;
    margin-right: 171px;
}

 .submitcancelbottoncontainer{
    width: 185px;
    display: flex;
    flex-direction:row-reverse;
    gap :50px;
    
    /* justify-content: space-between; */
}